
#ui {
//  background-image: url(../grid-6-12.min.svg);
}

#{$elements__phrase} {
  //outline: solid 1px blue;
}


#logo--thestrongelement {
  code {
    @include media(xs) {
      color: red;
    }
    @include media(s) {
      color: orange;
    }
    @include media(m) {
      color: green;
    }
    @include media(l) {
      color: blue;
    }
    @include media(xl) {
      color: purple;
    }
  }
}

.ui__header--fixed, .ui__footer--fixed {
  //opacity: 0.3;
  background: rgba(0,0,0,0.1);
}

[class^=flow__flex] > div {
  background: rgba(0,0,0,0.2);
  outline: solid 1px white;
  color: white;
  font-size: $font-size--xl;
}
[class^=flow--3] {
  background: rgba(0,0,0,0.5);
  outline: solid 1px white;
  color: white;
  font-size: $font-size--xl;
}
[class^=flow--6] {
  background: rgba(0,0,0,0.3);
  outline: solid 1px white;
  color: white;
  font-size: $font-size--xl;
}
[class^=flow--4] {
  background: rgba(0,0,0,0.7);
  outline: solid 1px white;
  color: white;
  font-size: $font-size--xl;
}
