
.app--thestrongelement {


  .page--index {
    background-color: #EA508B;
    &.ui--flex {
      flex-direction: row-reverse;
      @include screen(xs, height) {
        flex-direction: column;
      }
      overflow-x: hidden;
    }


    .ui__panel {

      &.index-- {
//        background-color: #EA508B;
        order: 1;
        padding-bottom: 200px;
//        margin-bottom: -80px;
      }
      &.contact-- {
        background-color: #9255B5;
        order: 4;
        transform: rotate(-2deg);
        position: relative;
        top: -20px;
      }
      &.about-- {
        background-color: #8CC876;
        order: 3;
        transform: rotate(1deg);
        position: relative;
        top: 20px;

      }
      &.work-- {
        background-color: #30C3F9;
        order: 2;
        transform: rotate(3deg);
        position: relative;
        top: 40px;
margin-top: -20px;
      }

      @include screen(m) {
        &.contact-- {
           order: 1;
        }
      }
      @include screen(m, height) {
        &.contact-- {
           order: 1;
        }
      }

      @include screen(xxs, height) {
        &.index-- {
  //        order: 4;
        }
      }
      @include screen(xs, height) {
        &.index-- {
    //      order: 2;
        }
      }

      @include screen(xl) {
        &.contact-- {
   //       order: 1;
        }
      }


      &[aria-selected=true] {
        flex: 10;
        z-index: 1;
        position: relative;
      }
    }

  }



  .page__section:first-child {
    min-height: 90vh;
  }




}
