.app__header {
  z-index: 100;
  padding: 0;
  max-width: 100vw;
}
.app__logo {
  display: none;

}
.app__main {
  outline: solid 6px lime;
//  position: absolute;
//  width: 100vw;
//  height: 100vh;
}




%icon-link {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  text-align: left;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: 100%;
  svg {
    position: absolute;
    top: 25%;
    left: 25%;
  }
  &.is-email, &.is-twitter {
    svg {
      top: 30%;
    }
  }
}

.primary-nav {
  svg {
    fill: #F7F7F7;
  }
  .link__ {
    @extend %icon-link;
  }
  position: fixed;
  right: 0;
  left: auto;
  width: 50px;
  height: 100vh;
  @include screen(xs, height) {
    right: auto;
    left: 10px;
  }
  .item__ {
    position: absolute;
  }
  .contact-- {
    top: calc(100vh - 50px);
  }
  .work-- {
    top: calc(100vh - 100px);
  }
  .about-- {
    top: calc(100vh - 150px);
  }
  @include screen(m) {
    .contact-- {
      top: 5px;
    }
    .work-- {
      top: calc(100vh - 50px);
    }
    .about-- {
      top: calc(100vh - 100px);
    }
  }
}

.social-nav {
  svg {
    fill: #D8FFF6;
  }
  position: absolute;
  left: 10px;
  top: 10px;
  width: 290px;
 .item__ {
     overflow: hidden;
     width: 50px;
     height: 50px;
     margin-right: 15px;
  }
  .email-- {
    margin-left: 45px;
    margin-right: 0;
  }
  .link__ {
    @extend %icon-link;
  }
  @include screen(m) {
    left: calc(100vw - 325px);
    top: 55px;
  }
}




.ui__panel {

  z-index: 11;
  &[aria-selected=false] {
    height: 100px;
    max-height: 100px;
  }

  &.index-- {
    padding-top: 240px;
    background: #EA508B;
  }
  &.contact-- {
    @include tilt(#9255B5, left, 2);
    bottom: calc(100vh - 35px);
    position: fixed;
  }
  &.work-- {
    z-index: 15;
    top: calc(100vh - 70px);
    @include tilt(#30C3F9, right, 5);
    position: fixed;
  }
  &.about-- {
    z-index: 16;
    top: calc(100vh - 25px);
    @include tilt(#8CC876, right, 4);
    position: fixed;
  }

  &[aria-selected=true] {
    min-height: 100vh;
    min-width: 100vh;
    top: 0;
    left: 0;
  }

}




.page__section {
  padding-top: 80px;
  padding-bottom: 80px;
  &:not(.tilt,.tilt--right) {
    background-color: white;
  }
}


  .page--index {
    .page__section:first-child {
      min-height: 90vh;
      background-color: #EA508B;
    }
    .page__header {
      background-color: #EA508B;
      padding-top: 100px;
      margin-bottom: 0;
    }
  }















/*
.app--thestrongelement {


  .app__panel, .panel__ {
    position: absolute;
    width: 20%;
    height: 33vh;
    &.contact-- {
      top: 0;
      transform: skewY(-1.5deg);
    }
    &.work-- {
      top: 33vh;
      transform: skewY(2.5deg);
    }
    &.about-- {
      top: 67vh;
      transform: skewY(3.5deg);
    }
    &[aria-selected=true] {
      height: auto;
      width: 80%;
      left: 20%;
    }
    @include screen(xs, height) {
      width: 100%;
      height: 80px;
      &.contact-- {
        top: -20px;
      }
      &.work-- {
        top: auto;
        bottom: 10px;
      }
      &.about-- {
        top: auto;
        bottom: -50px;
      }
      &[aria-selected=true] {
//        height: auto;
        width: 100%;
        left: 0;
      }
    }



    &.index-- {


    }







    &[aria-selected=false] {
      position: fixed;
    }

    &.contact-- {
      background-color: #9255B5;
      z-index: 10;
     // top: -20px;
     // transform: skewY(-1.5deg);
    }
    &.index-- {
      //top: 0px;
    }
    &.about-- {
    //  transform: skewY(3.5deg);
      background-color: #8CC876;
      bottom: -50px;
    }
    &.work-- {
      background-color: #30C3F9;
      bottom: 10px;
   //   transform: skewY(2.5deg);
    }






  }







}


*/
