.has-background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.has-background-fixed {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
