@each $key, $value in $colors {
  .has-background-color-#{$key} {
    background-color: $value !important;
    $saturation: saturation($value) / 100%;
    @if $saturation > 0.5 {
      color: color(white);
    }
  }
  .has-color-#{$key} {
    color: $value !important;
  }
  .has-border-color-#{$key} {
    border-color: $value !important;
  }
}
