<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="css/strong-css.css">
    <link rel="stylesheet" href="http://basehold.it/30">
  </head>
  <body id=thestrongelement-com>
		<div class=ui>
            <h1>Forage organic pop-up Godard</h1>
            <h2>Selfies mumblecore put a bird on it master</h2>
            <h3>Vice cred authentic chillwave artisan</h3>
            <h4>Odd Future lumbersexual VHS typewriter</h4>
            <h5>Slow-carb squid street art Williamsburg</h5>
            <h6>Echo Park Blue American Apparel whatever</h6>
<p>Bushwick viral. Forage organic pop-up Godard, selfies mumblecore put a bird on it master cleanse Vice cred authentic chillwave artisan cold-pressed gluten-free.</p>
<p>Slow-carb squid street art Williamsburg, Odd Future lumbersexual VHS typewriter taxidermy scenester before they sold out Echo Park Blue Bottle American Apparel whatever.</p>
        </div>
	</body>
</html>
