<% var title = "" %>
<!doctype html>
<html lang="en-us">
    <head>
        <% include ./includes/_app_meta.html %>
    </head>
    <body id=thestrongelement-com>
		<div class=ui role=application>
			<header class=ui__header>
			    <div>
                    <strong id=logo--thestrongelement>The <code>strong</code> element</strong>
                    <nav role=navigation>
                        <ul>
                            <li><a href="#">PBR</a></li>
                            <li aria-selected=true><a href="#">Paleo</a></li>
                            <li><a href="#">Meh</a></li>
                        </ul>
                    </nav>
                </div>
			</header>
			<main class=ui__view role=main>
                <div class="ui__content">
                    <article>
                        <% include ./includes/_view_content_alt.html %>
                    </article>
                </div>
			</main>
            <% include ./includes/_app_footer.html %>
		</div>
	</body>
</html>


