<% var title = "" %>
<!doctype html>
<html lang="en-us">
    <head>
        <% include ./includes/_app_meta.html %>
    </head>
    <body id=thestrongelement-com>
		<div class=ui--flex role=application>
            <% include ./includes/_app_header.html %>
			<main class=ui__view role=main>
                <% include ./includes/_view_nav.html %>
                <div class="ui__content">
                    <article>
                        <% include ./includes/_view_content.html %>
                    </article>
                </div>
			</main>
            <% include ./includes/_app_footer.html %>
		</div>
	</body>
</html>
