<% var title = "layout" %>
<!doctype html>
<html lang="en-us">
    <head>
        <% include ./includes/_app_meta.html %>
    </head>
    <body class=app--thestrongelement id=thestrongelement-com role=application>
        <header class=app__header>
            <strong class=app__logo id=logo--thestrongelement>
                The <code>strong</code> element
            </strong>
            <nav class="app__nav">
                <ul class="navlist primary-nav" role="navigation">
                    <li class="item__">
                      <a href="#" class="link__" aria-selected="true">Rummikub</a>
                    </li>
                    <li class="item__">
                      <a href="#" class="link__" aria-selected="false">Scrabble</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="app__main page--index" role=main>
                <header class=page__header>
                    <h1>Lorem Ipsum</h1>
                </header>
                <article class=page__content>


<section class="page__section">


        .page__section



</section>


<section class="page__section tilt--left">
    <div class="tilt__bkgd top--"></div>
        .page__section.tilt--left
    <div class="tilt__bkgd bottom--"></div>


</section>
<section class="page__section tilt--right">
    <div class="tilt__bkgd top--"></div>
        .page__section.tilt--right
    <div class="tilt__bkgd bottom--"></div>
</section>
<section class="page__section tilt--right">

    <div class="tilt__bkgd top--"></div>
        .page__section.tilt--right
    <div class="tilt__bkgd bottom--"></div>


</section>
<section class="page__section">


        .page__section



</section>

<section class="page__section tilt--left">

    <div class="tilt__bkgd top--"></div>
        .page__section.tilt--left
    <div class="tilt__bkgd bottom--"></div>


</section>


        <%# include ./includes/_page_section.html %>



                </article>

            </div>

        </main>
        <footer class=app__footer>

        .app__footer

        </footer>
	</body>
</html>

