<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>strong-css</title>
    <link rel="stylesheet" href="css/strong-css.css">
<!--     <link rel="stylesheet" href="http://basehold.it/16"> -->
  </head>
    <body id="thestrongelement-com">
		<div class="ui--flex">
			<header class="ui__header">
			    <div>
                    <strong>The <code>strong</code> element</strong>
                </div>
			</header>
			<main class="ui__view--flex" role="main">
				<nav class="ui__nav">

<div>
nav
</div>
				</nav>
				<article class="ui__content">
                    <div>
<p style="height: 1000px; border-left: solid 1px gray;">
div
</p>
                    </div>
                    <section>
                        <div>
<p style="height: 200px; border-left: solid 1px gray;">
div
</p>

                        </div>
                    </section>
				</article>   
			</main>
			<footer class="ui__footer">
			    <div>
.ui__footer
	            </div>
			</footer>
		</div>
	</body>
</html>