<% var title = "ui" %>
<!doctype html>
<html lang="en-us">
    <head>
        <% include ./includes/_app_meta.html %>
    </head>
    <body id=thestrongelement-com>
		<div class=ui--flex role=application>
            <% include ./includes/_app_header.html %>
			<main class=ui__view--flex role=main>

                <nav class="ui__nav">
                    <div>
.ui__nav
                    </div>
                </nav>

                <div class="ui__content">
                    <article>


                        <div>
.ui__content
                        </div>
                        <section>
                           <div>
<span style="display: block; height: 1500px; border-left: solid 1px red;">
.ui__content section
</span>
                            </div>
                        </section>



                    </article>
                </div>
			</main>
            <% include ./includes/_app_footer.html %>
		</div>
	</body>
</html>
