/**
* @file _app.scss
* @project strong-css
* @author The strong element
*/

/**
* @section App
* Global header
*/
.app__header {
    background: $color__gray--b;
    @include clearfix;
    height: 64px;
    max-height: 64px;
}

/**
* @section App
* Global header layout
*/
.app__logo {
    float: left;
    margin-left: calc(50% - (130px/2));
    margin-left: 0;
    @include screen(m) {
        margin-left: auto;
    }
}
.app__nav {
    position: absolute;
    z-index: 100;
    width: 270px;
    left: calc(50% - 135px);
    top: 72px;
    border: solid 1px $color__white--c;
    border-top: none;
    background-color: white;
    box-shadow: 0 1px 3px 0 #000;
    @include screen(m) {
        position: static;
        width: auto;
        border: none;
        background-color: inherit;
        box-shadow: none;
        @include clearfix;
        .primary-nav {
            float: left;
        }
        .shortcut-nav {
            float: right;
        }
        .user-nav {
            float: right;
        }
    }
    &[aria-hidden="true"] {
        display: none;
    }
}
.app__nav--control {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 64px;
    height: 64px;
    overflow: hidden;
    text-indent: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAyNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjIuMzY3IDYuNDE1SC44MDdDLjM2IDYuNDE1IDAgNi4xOSAwIDUuOTE1cy4zNi0uNS44MDctLjVoMjEuNTZjLjQ0NiAwIC44MDcuMjI0LjgwNy41cy0uMzYuNS0uODA3LjV6bTAtNS40MTVILjgwN0MuMzYgMSAwIC43NzYgMCAuNVMuMzYgMCAuODA3IDBoMjEuNTZjLjQ0NiAwIC44MDcuMjI0LjgwNy41cy0uMzYuNS0uODA3LjV6bTAgMTAuODNILjgwN2MtLjQ0NiAwLS44MDctLjIyNC0uODA3LS41cy4zNi0uNS44MDctLjVoMjEuNTZjLjQ0NiAwIC44MDcuMjI0LjgwNy41cy0uMzYuNS0uODA3LjV6IiBmaWxsPSIjRjRGNEY5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
    &[aria-hidden="true"] {
        display: none;
    }
    &[aria-selected="true"] {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxOCAxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRjRGNEY5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0uOTcgMS4xMTJDLjY1Ny43OTcuNTYuMzgyLjc1NS4xODhjLjE5NS0uMTk2LjYxLS4wOTguOTI0LjIxNkwxNi45MjMgMTUuNjVjLjMxNS4zMTUuNDEyLjczLjIxNy45MjQtLjE5NC4xOTYtLjYwNy4wOTgtLjkyMi0uMjE3TC45NyAxLjExMnoiLz48cGF0aCBkPSJNMTYuOTI0IDEuMTEyYy4zMTUtLjMxNS40MTItLjczLjIxNy0uOTI0LS4xOTMtLjE5Ni0uNjA3LS4wOTgtLjkyMi4yMTZMLjk3IDE1LjY1Yy0uMzE0LjMxNS0uNDEuNzMtLjIxNi45MjQuMTk2LjE5Ni42MS4wOTguOTI0LS4yMTdMMTYuOTI0IDEuMTEyeiIvPjwvZz48L3N2Zz4=');
    }
}

//shared header link rules
%header__link {
    display: block;
    font-size: $font-size--s;
    @include weight(bold);
    padding: 16px 24px;
    border-top: solid 1px $color__white--c;
    &:hover {
        background-color: $color__white--b;
    }
    &[aria-selected="true"] {
        cursor: default;
        color: $color__blue--b;
    }
    transition: background-color $time--base;
    @include screen(m) {
        height: 64px;
        padding: 20px 16px;
        color: $color__white--b;
        font-size: $font-size--reg;
        @include weight(light);
        border-top: none;
        &:hover {
            background-color: $color__gray--c;
        }
        &[aria-selected="true"] {
            background-color: inherit;
        }
    }
    @include screen(l) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/**
* @section App
* Logo link and SVG
*/
.app__logo {
    @extend %header__link;
    cursor: pointer;
    padding: 16px 16px 10px;
    max-height: 64px;
    border: none;
    @include screen(m) {
        padding-left: 24px;
        padding-right: 24px;
    }
    @include screen(l) {
        padding-left: 48px;
        padding-right: 48px;
    }
    svg {
        pointer-events: none;
    }
    .path__ {
        fill: $color__white--b;
    }
    &:hover {
        background-color: $color__gray--c;
    }
    &[aria-selected="true"] {
        background-color: initial;
        .path__ {
            fill: $color__blue--b;
        }
        &:hover {
            background-color: initial;
        }
    }
}


/**
* @section App
* @component Primary Nav
* Top-level nav bar for accessing different sections
*/
.primary-nav {
    margin-bottom: 0;
    .link__ {
        @extend %header__link;
    }
    .locked--, .notify-- {
        &:after {
            content: '';
            display: inline-block;
            margin-left: 8px;
        }
    }
    .locked-- {
        &:after {
            width: 9px;
            height: 10px;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDkgMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuNDMgMi44NTd2MS40M0gwVjEwaDguNTcyVjQuMjg2aC0xLjQzdi0xLjQzQzcuMTQyIDEuMjggNS44NjUgMCA0LjI4NyAwIDIuNzA3IDAgMS40MyAxLjI3OCAxLjQzIDIuODU3em0yLjg1Ni0xLjQzYy44NSAwIDEuNDI4LjU4IDEuNDI4IDEuNDN2MS40M0gyLjg1N3YtMS40M2MwLS44NS41OC0xLjQzIDEuNDMtMS40M3oiIGZpbGw9IiM3MzczNzQiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
            @include screen(m) {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDkgMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuNDMgMi44NTd2MS40M0gwVjEwaDguNTcyVjQuMjg2aC0xLjQzdi0xLjQzQzcuMTQyIDEuMjggNS44NjUgMCA0LjI4NyAwIDIuNzA3IDAgMS40MyAxLjI3OCAxLjQzIDIuODU3em0yLjg1Ni0xLjQzYy44NSAwIDEuNDI4LjU4IDEuNDI4IDEuNDN2MS40M0gyLjg1N3YtMS40M2MwLS44NS41OC0xLjQzIDEuNDMtMS40M3oiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
            }
        }
    }
    .notify-- {
        &:after {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $color__green--a;
        }
    }
    //block overrides
    .item__ {
        float: none;
        @include screen(m) {
            float: left;
        }
    }

}


/**
* @section App
* @component Shortcut Nav
* Top-level nav area for common user actions.
*/
.shortcut-nav {
    margin-top: 12px;
    margin-right: 24px;
    .button--white {
        padding: 0.75rem 1rem;
    }
    display: none;
    @include screen(l) {
        display: inline-block;
    }
}


/**
* @section App
* @component User Nav
* Top-level nav bar for accessing user functions like Settings, Log Out, etc.
*/
.settings-nav {
    position: relative;
    @include screen(m) {
        max-height: 64px;
    }
    .user-nav__subnav--control {
        @extend %header__link;
        cursor: pointer;
        @include screen(m) {
            padding-left: 24px;
            padding-right: 24px;
        }
        @include screen(l) {
            padding-left: 48px;
            padding-right: 48px;
        }
        &[aria-hidden="true"] {
            display: none;
        }
    }
    [aria-haspopup="true"] {
        &[aria-selected="true"] {
            cursor: pointer;
            background-color: $color__gray--c;
            color: $color__white--b;
        }
        //dropdown indicator
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            width: 9px;
            height: 6px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOSA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik00LjY2MiA1Ljg3M2wtLjAxMi4wMUwuMzQ1IDEuNThsLjg1LS44NTIgMy40NzcgMy40NzZMOC4xMzguNzRsLjg1Ljg1LTQuMzA0IDQuMzA1LS4wMjItLjAyMnoiIGZpbGw9InJnYmEoMjQ0LCAyNDQsIDI0OSwgMS4wKSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+');
            background-repeat: no-repeat;
        }
    }
    .subnav__ {
        margin-bottom: 0;
        font-size: $font-size--s;
        @include weight(bold);
        @include screen(m) {
            position: absolute;
            z-index: 100;
            width: 270px;
            top: 72px;
            right: 8px;
            border: solid 1px $color__white--c;
            border-top: none;
            background-color: white;
            box-shadow: 0 1px 3px 0 #000;
        }
        .link__ {
            display: block;
            padding: 16px 24px;
            border-top: solid 1px $color__white--c;
            transition: background-color $time--base;
            &:hover {
                background-color: $color__white--b;
            }
        }
    }
}


