/**
* @file _body.scss
* @project strong-css
* @author The strong element
*/
%section {
    padding-left: 0;
    padding-right: 0;
    @include screen(l) {
        padding-left: $width--ui-padding/2;
        padding-right: $width--ui-padding/2;
    }
    //1280px max
    @include screen(xl) {
        padding-left: calc((100% - #{$width--ui-max - ($width--ui-padding)})/2);
        padding-right: calc((100% - #{$width--ui-max - ($width--ui-padding)})/2);
    }
}

/**
* @section Body
* Top-level content container
*/
body {
    background-color: $color__white--offset;
}
body > header {
    @extend %section;
    padding-left: 0;
    padding-right: 0;
    @include screen(xl) {
        padding-left: calc((100% - #{$width--ui-max})/2);
        padding-right: calc((100% - #{$width--ui-max})/2);
    }
}

/**
* @section Main
* Top-level content sectioning containers which must be immediate children of main
* Only concerned with padding and widths
*/
main {
    min-height: calc(100vh - 64px); //height of header
}
main, article {
    & > header, & > nav, & > section, & > footer, & > .section__ {
        @extend %section;
        margin-bottom: 24px;
        &.full-width-- {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

