/**
* @file _tilt.scss
* @project strong-css
* @author The strong element
*/

/**
* @section Layout
* Global header
*/


%tilt {

  margin-bottom: 120px;
  .tilt__bkgd {
    padding: 0;
    position: relative;
    min-width: 100vw;

    &:before, &:after {
      content: '';
      display: block;
      width: 110%;
      height: 0;
      margin-left: -5%;
    }
    &.top-- {
      top: -20px;
      &:before {
        height: 40px;
      }
    }
    &.bottom-- {
      bottom: -20px;
      &:after {
        height: 40px;
      }
    }
  }

}



.tilt--right {
  @extend %tilt;
  background-color: white;
  .tilt__bkgd {
    &:before, &:after {
      background: white;
      transform: rotate(2deg);
    }
  }
}
.tilt--left {
  @extend %tilt;
  background-color: white;
  .tilt__bkgd {
    &:before, &:after {
      background-color: white;
      transform: rotate(-2deg);
    }
  }
}
.tilt--left + .tilt--right {

}

/*




//INLINE SVG APPROACH

%tilt {
  .tilt__bkgd {
    position: relative;
    padding: 0;
    margin: 0;
    height: 40px;
    max-height: 40px;
    outline: solid 1px red;
    svg {
      position: absolute;
      left: 0;
      max-width: 100vw;
    }
    &.top-- {
    bottom: 0;
//      top: -33px;
      svg {
        top: 0;
      }
    }
    &.bottom-- {
//    bottom: -32px;
      svg {
        bottom: 0;
      }
    }
  }

}



.tilt--right {
  @extend %tilt;
  background-color: lightblue;
}

.tilt--left {
  @extend %tilt;
  background-color: purple;
  path {
  //  fill: purple;
  }
    .tilt__bkgd {
     // display: none;

    }
}






//CCS BKGD APPROACH

%tilt {
  &:before, &:after {
    content: '';
    display: block;
    position: relative;
    width: 100vw;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:before {
    top: -9.9vh;
    background-image: url('data:image/svg+xml;utf8,<svg width="688" height="38" viewBox="0 0 688 38" xmlns="http://www.w3.org/2000/svg"><path d="M688 0v38H0L688 0z" fill="red" fill-rule="evenodd"/></svg>');
  }
  &:after {
    bottom: -9.9vh;
    background-image: url('data:image/svg+xml;utf8,<svg width="688" height="38" viewBox="0 0 688 38" xmlns="http://www.w3.org/2000/svg"><path d="M688 0v38H0L688 0z" fill="yellow" fill-rule="evenodd"/></svg>');



  }
}


.tilt--right {
  @extend %tilt;
  background-color: red;
}

.tilt--left {
  @extend %tilt;
  background-color: red;
}


//ROTATED CONTAINER APPROACH

%tilt {

  padding: 80px 20px 160px;

  border-bottom: solid 1px black;
  background-color: yellow;
  margin: 0;
  margin-bottom: -40px;
  min-height: 50vh;
  position: relative;

  .tilt__bkgd {
    min-width: 105vw;
    position: absolute;
    top: -40px;
    left: -10px;

    height: 100%;
    width: 100%;

  }
  .tilt__content {
  position: relative;
  z-index: 1;
    padding: 0;

  }
}

.tilt--left {
  @extend %tilt;
  .tilt__bkgd {
    transform: rotate(-2deg);
    background-color: lightgray;
  }
  &:last-child {
    margin-bottom: -80px;
  }

}
.tilt--right {
  @extend %tilt;
  .tilt__bkgd {
    transform: rotate(2deg);
    background-color: pink;
  }
}

 */







