/**
* @file layout/ui
* @project strong-css
* @author The strong element
*/

/**
* @section UI
* @els: ui, ui--flex, ui__header, ui__footer, ui__nav, ui__view, ui__content
* Top-level layout classes for app UI
*
*/

/**
* .ui
* Outermost, top-level container, body > div.ui*
* Should be same element as role="application"
* Replacing the contents of this container would effectively replace the entire app UI
*/
%ui {
  height: 100vh;
}
.ui {
  @extend %ui;
}

/**
* .ui--flex
* Sets app container to flexbox
*/
%ui--flex {
  @extend %ui;
  display: flex;
}
.ui--flex {
  @extend %ui--flex;
  flex-direction: column;
}

/**
* .ui--flex-cols
* TODO: needs work
*/
.ui--flex-cols {
  @extend %ui--flex;
  flex-direction: row;
  width: 100vw;
}

/**
*  .ui__header
*/
.ui__header {

}
/**
*  .ui__footer
*/
.ui__footer {

}
.ui__footer--fixed {
  position: fixed;
  bottom: 0;
}

/**
*  .ui__nav
*/
.ui__nav {

}

/**
*  .ui__view
*/
%ui__view {
  overflow: auto;
  flex: 1;
}
.ui__view, .ui__view--flex {
  @extend %ui__view;
}
.ui__view--flex {
  display: flex;
}

/**
*  .ui__content
*
*/
.ui__content {
  overflow: auto;
  flex: 1;
}
