/**
* @file layout/ui
* @project strong-css
* @author The strong element
*/

/**
* @section UI
* @els: ui, ui--flex, ui__header, ui__footer, ui__nav, ui__view, ui__content
* Top-level layout classes for app UI
*
*/

/**
* .ui
* Outermost, top-level container, body > div.ui*
* Should be same element as role="application"
* Replacing the contents of this container would effectively replace the entire app UI
*/
%ui {
  width: 100vw;
//  height: 100vh;
//  overflow: hidden;
}
.ui {
  @extend %ui;
}

/**
* .ui--flex
* Sets app container to flexbox
*/
%ui--flex {
  @extend %ui;
  display: flex;
  .ui__panel, & > .panel__ {
    overflow: scroll;
    flex: 1;
    &[aria-selected=true] {
      flex: 1;
    }
  }

}
.ui--flex {
  @extend %ui--flex;
  flex-direction: column;
}

/**
* .ui--positioned
* Sets app container to flexbox
*/
%ui--positioned {
   position: absolute;
  .ui__panel, & > .panel__ {
    position: absolute;
    width: 100%;
    &[aria-selected=true] {
      z-index: 10;
    }
  }
}
.ui--positioned {
  @extend %ui;
  @extend %ui--positioned;
}






/**
* .ui--flex-cols
* TODO: needs work
*/
.ui--flex-cols {
  @extend %ui--flex;
  flex-direction: row;
  width: 100vw;
}

/**
*  .ui__header
*/
%ui__header {

}
/**
*  .ui__footer
*/
%ui__footer {

}
.ui__footer--fixed {
  @extend %ui__footer !optional;
  position: fixed;
  bottom: 0;
}

/**
*  .ui__nav
*/
%ui__nav {

}

/**
*  .ui__view
*/
%ui__view {
  overflow: auto;
  flex: 1;
}
.ui__view {
  @extend %ui__view;
}
.ui__view--flex {
  @extend %ui__view;
  display: flex;
}



/**
*  .ui__content
*
*/
%ui__content {
  overflow: auto;
  flex: 1;
}
.ui__content {
  @extend %ui__content;
  margin: 0 auto;

  @include media(l) {
    max-width: $screen--xlarge;
  }
}
.ui__content--skinny {
  @extend %ui__content;
  width: 320px;
  margin: 0 auto;
}
