/**
* @file elements/flow
* @project strong-css
* @author The strong element
*/

/**
* @section Elements
* High-level resets for flow content elements
* Think of this as how you want all the elements to flow on the page compared how the browser manufacturer wants them to flow.
* Not text (that's phrasing content), but margins, padding, borders, yes!
*/


/**
* 
*/
.ui--flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}




/**
*  ui__header
*/
.ui__header {
  background: yellow;
}
/**
*  ui__footer
*/
.ui__footer {
  background: lightblue;
}

/**
*  ui__nav
*/

.ui__nav {
  background: pink;
  width: 256px;

//  height: 100%;
}

/**
*  ui__view
*/
.ui__view, .ui__view--flex {
  background: lime;
  overflow: auto;
}
.ui__view--flex {
  display: flex;
}



.ui__content {
  overflow: auto;
  flex: 1;
}






/**
* 
*/
.ui__header--fixed, .ui__footer--fixed {
  position: fixed;
  width: 100vw;
}
.ui__header--fixed {
  top: 0;
}
.ui__footer--fixed {
  bottom: 0;
}


