/**
* @file _nav.scss
* @project strong-css
* @author The strong element
*/


/*
ul,ol > li > a


*/

%navlist-base {
  @include clearfix;
  list-style: none;
  padding: 0;
  margin: 0;
}


@mixin navlist($selector, $prefix: "") {
  #{$selector} {
    @extend %navlist-base;
    & > .item__ {
       float: left;
    }
    &.numbered-- {
      counter-reset: list;
      & > .item__ {
        &:before {
          counter-increment: list;  
          content: "#{nth($prefix,1)}" counter(list) "#{nth($prefix,2)}";
        }
      }
    }
    @content;
  }
}




 /**
 * @section Nav
 * Default styles for navs
 */
 %navlist-horizontal {
     @include clearfix;
     list-style: none;
     padding: 0;
     margin: 0;
     .item__ {
         float: left;
        // transition: all $time--base;
     }
     [aria-selected=true] {
         cursor: default;
     }
     a {
         color: inherit;
     }
     &:hover {
         cursor: pointer;
     }
 }
 %navlist-vertical {
   //@extend %navlist;
     list-style: none;
     padding: 0;
     &[aria-hidden=true] {
         display: none;
     }
     [aria-selected=true] {
         cursor: default;
     }
     a {
         color: inherit;
     }
 }
 %navlist-flex {
     display: flex;
     list-style: none;
     padding: 0;
     margin: 0;
     .item__ {
         flex: 1;
     }
     [aria-selected=true] {
         cursor: default;
     }
 }

