//legacy variables

$color--blue: #5990cc;
$form-box-shadow: inset 0 rem(1) rem(3) rgba(black,0.06);


//ui dimensions
$width--ui-max: 1280px;
$width--ui-padding: 48px;


$padding--base: 1.6rem;
$margin-bottom--default: 1.5rem;


$screen--xsmall: 480px;
$screen--small: 667px;
$screen--medium: 768px;
$screen--large: 1024px;
$screen--xlarge: 1280px;
$screen--xxlarge: 1440px;

//FONTS
//families
$proxima-nova: "proxima-nova", sans-serif;
$helvetica-neue: "Helvetica Neue", "Helvetica", sans-serif;
$font-family--default: $helvetica-neue;
$font-family--desktop: $font-family--default;

//type
$font-size--base:		20px !default;
$line-height--base:	32px !default;
$line-height--ratio:  $line-height--base / $font-size--base;

$font-size--desktop:	$font-size--base;// * 1.125;
$font-size--mobile:		$font-size--base;

//modular scale
$em-base: $font-size--base;
$ms-base: $font-size--base;
$ms-ratio: $fourth;

/*
$ms-base: 1.25em;
$ms-ratio: 1.333;
*/
$font-size--xl:     rem(ms(3)); //2.5rem
$font-size--l:      rem(ms(2)); //2.0rem
$font-size--m:      rem(ms(1)); //1.5rem
$font-size--reg:    rem(ms(0));
$font-size--s:      rem(ms(-1)); //0.875rem
$font-size--xs:			rem(ms(-2)); //0.75rem

/*
$font-size--xxs: 0.5rem; //8px
$font-size--xs: 0.75rem; //12px
$font-size--s: 0.875rem; //14px
$font-size--reg: $font-size--base; //16px
$font-size--m: 1.5rem; //24px
$font-size--l: 2rem; //32px
$font-size--xl: 3rem; //48px
$font-size--xxl: 3.5rem; //56px
 */

$font-size--button: $font-size--base; //16


//colors
$color--default:				#333 !default;
$background-color--default:   #fff !default;

$color__white: #ffffff;
$color__white--offset: #f4f4f9;

$color__blue--pastel: #7793bd;
$color__purple--pastel: #9577bd;
$color__red--pastel: #bd779b;

$color__slate: #676566;
$color__gray--offset: #535355;

//payments colors
$color__white--a: #ffffff; //pure white
$color__white--b: #f4f4f9;
$color__white--c: #e0e0e5;

$color__gray--a: #252526;
$color__gray--b: #4a4a4b;
$color__gray--c: #737374;
$color__gray--d: #c1c1c5;

$color__blue--a: #3e6690;
$color__blue--b: #5890CC;

$color__red--a: #D47871;
$color__green--a: #53D9D7;

//elements
$color__text--default: $color--default;

$color__form--default: #ceced3;
$color__form--focus: $color--blue; //#5990cc
$color__form--error: #cc7c7f;
$color__form--valid: #909091;
$color__form--disabled: lighten($color__form--default,10);
$color__form--fill: #F2F2F7;

$color__button--default: $color__blue--a;

$color__link--default: $color__blue--b;
$color__link--hover: $color__blue--a;


$time--base: 0.3s;



$xs: new-breakpoint(max-width $screen--xsmall 4);
$sm: new-breakpoint(max-width $screen--small 8);
$md: new-breakpoint(max-width $screen--medium);
