<!--
    ///// PRIMARY NAV

    .primary-nav
    :   list wrapper container

    .link__
    :   hyperlink
        &[aria-selected]
        :   true || false toggle if selected
        &.locked--
        :   behind paywall
        &.notify--
        :   has new activity

    /////
-->

<ul class="navlist primary-nav">
    <li class="item__">
        <a href="#" class="link__" aria-selected="false">
Lorem
        </a>
    </li>
    <li class="item__">
      <a href="#" class="link__" aria-selected="true">
Duis
      </a>
    </li>
    <li class="item__">
      <a href="#" class="link__" aria-selected="false">
Reprehenderit
      </a>
    </li>
    <li class="item__">
      <a href="#" class="link__ locked--" aria-selected="false">
Excepteur
      </a>
    </li>
    <li class="item__">
      <a href="#" class="link__ notify--" aria-selected="false">
Dolor
      </a>
    </li>
    <li class="item__">
      <a href="#" class="link__" aria-selected="false">
Sunt
      </a>
    </li>
</ul>


<!--
    ///// SETTINGS NAV

    .settings-nav
    :   list wrapper container

    & > .link__, .control__
    :   first-level link
        &[aria-haspopup]
        :   true if has subnav
        &[aria-controls]
        :   id of subnav element

    .subnav__
    :   dropdown wrapper container
        &[aria-hidden]
        :  true |false toggle

    .link__
    :   hyperlink

    /////
-->


<div class="settings-nav" role="navigation">
    <a href="#settings-dropdown" class="link__ control__" aria-selected="true" aria-controls="settings-dropdown"  aria-haspopup="true">Zack</a>
    <ul class="navlist--dropdown subnav__" id="settings-dropdown" aria-hidden="true">
        <li class="item__">
            <a href="#" class="link__">Account</a>
        </li>
        <li class="item__">
            <a href="#" class="link__">Privacy</a>
        </li>
        <li class="item__">
            <a href="#" class="link__">Help</a>
        </li>
        <li class="item__">
            <a href="#" class="link__">Log Out</a>
        </li>
    </ul>
</div>
