
<header>
    <h1>Upgrade your customer relationships</h1>
    <p>An optional important take-away blah blah words words. Another sentence if needed to really inforce the message that you want to upgrade.</p>
</header>    

<section>


<!-- PLAN SELECTION -->
    <nav>
        <h2>Select a plan:</h2>
        <ul class=tablist--purchase role=tablist>
            <li id=tab-building class=tab__ role=tab aria-controls=tabpanel-building aria-selected=true>Building</li>
            <li id=tabpanel-growth class=tab__ role=tab aria-controls=tabpanel-growth aria-selected=false>Growth</li>
            <li id=tabpanel-amplify class=tab__ role=tab aria-controls=tabpanel-amplify aria-selected=false>Amplify</li>
        </ul>
    </nav>

<!-- PLAN DETAILS -->
    <div id=tabpanel-building role=tabpanel aria-labeled-by=tab-building aria-hidden=false>
BUILDING
    </div>
    <div id=tabpanel-growth class=tabpanel__ role=tabpanel aria-labeled-by=tab-growth aria-hidden=true>
GROWTH
    </div>
    <div id=tabpanel-amplify class=tabpanel__ role=tabpanel aria-labeled-by=tab-amplify aria-hidden=true>
AMPLIFY
    </div>
    
    
</section>


<section>
<!-- PAYMENT FORM -->
    <form>
        <fieldset class=form__set>
            <legend>Payment Information</legend>
            <p class=form__item>
                <label for=>Credit Card</label>
                <input type=text>
                <span class="tag__" role="presentation"></span>
            </p>
            <p class="form__item inline--">
                <span class=label__>Expiration</span>
                <select class=s-- aria-label=Month>
                    <option selected>Mo</option>
                    <option>Jan</option>
                </select>  
                <select class=s-- aria-label=Year>
                    <option selected>Yr</option>
                    <option>2016</option>
                </select>
            </p>
            <p class="form__item inline--">
                <label for=>CVV</label>
                <input type=text class=s-->
                <span class=tag__ role="presentation"></span>
            </p>        
        </fieldset>
        <fieldset class=form__set>
            <legend>Billing Information</legend>
            <p class=form__item>
                <label for=>Name</label>
                <input type=text placeholder=>
                <span class=tag__ role="presentation"></span>
            </p>
            <p class=form__item>
                <label for=>Adress</label>
                <input type=text placeholder=>
                <span class=tag__ role="presentation"></span>
            </p>
            <p class=form__item>
                <label for=>City</label>
                <input type=text placeholder=>
                <span class=tag__ role="presentation"></span>
            </p>
            <p class="form__item inline--">
                <label for=>State</label>
                <input type=text class=s-->
                <span class=tag__ role="presentation"></span>
            </p>
            <p class="form__item inline--">
                <label for=>Zip Code</label>
                <input type=text class=m-->
                <span class=tag__ role="presentation"></span>
            </p>
        </fieldset>
        <button>Upgrade</button>
    
    </form>
    
    



</section>

<footer>

    <address>
Not sure which plan is best for your business? Call us at 888-888-8888 or email us at <a href=#>help@spoton.com</a>.
    </address>
    
    
</footer>


