
<header>
    <h1>Upgrade your customer relationships</h1>
    <p>An optional important take-away blah blah words words. Another sentence if needed to really inforce the message that you want to upgrade.</p>
</header>

<section>


<!-- PLAN SELECTION -->
    <nav>
        <h2>Select a plan:</h2>

<ul class=tablist role=tablist>
    <li id=tab-1 class=tab__ role=tab aria-controls=tabpanel-1 aria-selected=true>TAB 1</li>
    <li id=tab-2 class=tab__ role=tab aria-controls=tabpanel-2 aria-selected=false>TAB 2</li>
    <li id=tab-3 class=tab__ role=tab aria-controls=tabpanel-3 aria-selected=false>TAB 3</li>
</ul>

    </nav>

<div class=panel__ id=tabpanel-1 role=tabpanel aria-labeled-by=tab-1 aria-hidden=false>
    PANEL 1
</div>
<div class=panel__ id=tabpanel-2 class=tabpanel__ role=tabpanel aria-labeled-by=tab-2 aria-hidden=true>
    PANEL 2
</div>
<div class=panel__ id=tabpanel-3 class=tabpanel__ role=tabpanel aria-labeled-by=tab-3 aria-hidden=true>
    PANEL 3
</div>


</section>


<section>
    <form>
        <fieldset class=form__set>
            <legend>Payment Information</legend>
            <p class=form__item>
                <label for=>Credit Card</label>
                <input type=text>
                <span class="tag__" role="presentation"></span>
            </p>
            <p class="form__item inline--">
                <span class=label__>Expiration</span>
                <select class=s-- aria-label=Month>
                    <option selected>Mo</option>
                    <option>Jan</option>
                </select>
                <select class=s-- aria-label=Year>
                    <option selected>Yr</option>
                    <option>2016</option>
                </select>
            </p>
            <p class="form__item inline--">
                <label for=>CVV</label>
                <input type=text class=s-->
                <span class=tag__ role="presentation"></span>
            </p>
        </fieldset>
        <fieldset class=form__set>
            <legend>Billing Information</legend>
            <p class=form__item>
                <label for=>Name</label>
                <input type=text placeholder=>
                <span class=tag__ role="presentation"></span>
            </p>
            <p class=form__item>
                <label for=>Adress</label>
                <input type=text placeholder=>
                <span class=tag__ role="presentation"></span>
            </p>
            <p class=form__item>
                <label for=>City</label>
                <input type=text placeholder=>
                <span class=tag__ role="presentation"></span>
            </p>
            <p class="form__item inline--">
                <label for=>State</label>
                <input type=text class=s-->
                <span class=tag__ role="presentation"></span>
            </p>
            <p class="form__item inline--">
                <label for=>Zip Code</label>
                <input type=text class=m-->
                <span class=tag__ role="presentation"></span>
            </p>
        </fieldset>
        <button>Upgrade</button>

    </form>





</section>

<footer>



</footer>


