
<div class="doc__col">


    <h2 class=doc__header>Form Sets</h2>
    <h3 class=doc__subheader>.form__item + <br>label, input, .tag__, .note__ </h3>

    <p class=form__item>
        <label for=>Default input</label>
        <input type=text placeholder=text>
        <span class=tag__ role="presentation"></span>
        <small class=note__>This is a note about something</small>
    </p>

    <p class=form__item>
        <label for=>Required input</label>
        <input type=text placeholder=text>
        <span class="tag__ is-required" role="presentation"></span>
        <small class=note__>This is a note about something</small>
    </p>

    <p class=form__item>
        <label for=>Validated input</label>
        <input type=text placeholder=text value=4111-1111-1111-1111 class="is-valid">
        <span class="tag__ is-visa" role="presentation"></span>
        <small class=note__>This is a note about something</small>
    </p>

    <p class="form__item has-error">
        <label for=>Erred input</label>
        <input type=text placeholder=text class="is-invalid">
        <span class="tag__ is-error" role="presentation"></span>
        <small class=note__>This is an error message</small>
    </p>

    <p class=form__item>
        <label for=>Disabled input</label>
        <input type=text placeholder=text disabled>
        <span class=tag__ role="presentation"></span>
        <small class=note__>This is a note about something</small>
    </p>

</div>

