
<header class=purchase__header>

    <h1>Start building your customer base</h1>
    <p>
    Hoodie swag before they sold out vinyl polaroid Pinterest, cronut yr Echo Park Banksy quinoa. 
    </p>


</header>

<section class=purchase__section>


    <div class=plans>
        <nav class=nav__>
            <ul class=tabs__ role=tablist>
                <li id=tab-building class=tab__ role=tab aria-controls=tabpanel-building aria-selected=true>Building</li>
                <li id=tabpanel-growth class=tab__ role=tab aria-controls=tabpanel-growth aria-selected=false>Growth</li>
                <li id=tabpanel-amplify class=tab__ role=tab aria-controls=tabpanel-amplify aria-selected=false>Amplify</li>
            </ul>
        </nav>

        <div class=panel__ id=tabpanel-building role=tabpanel aria-labeled-by=tab-building aria-hidden=false>




    BUILDING



        </div>
        <div class=panel__ id=tabpanel-growth class=tabpanel__ role=tabpanel aria-labeled-by=tab-growth aria-hidden=true>


    GROWTH


        </div>
        <div class=panel__ id=tabpanel-amplify class=tabpanel__ role=tabpanel aria-labeled-by=tab-amplify aria-hidden=true>


    AMPLIFY



        </div>


              
    </div>




</section>
<footer class=purchase__footer>
    footer
</footer>
