
<header class=page__header>




</header>

<section class=page__section>


    <div class=plans>
        <nav class=nav__>
            <ul class=tabs__ role=tablist>
                <li id=tab-1 class=tab__ role=tab aria-controls=tabpanel-1 aria-selected=true>TAB 1</li>
                <li id=tab-2 class=tab__ role=tab aria-controls=tabpanel-2 aria-selected=false>TAB 2</li>
                <li id=tab-3 class=tab__ role=tab aria-controls=tabpanel-3 aria-selected=false>TAB 3</li>
            </ul>
        </nav>

        <div class=panel__ id=tabpanel-1 role=tabpanel aria-labeled-by=tab-1 aria-hidden=false>




    PANEL 1



        </div>
        <div class=panel__ id=tabpanel-2 class=tabpanel__ role=tabpanel aria-labeled-by=tab-2 aria-hidden=true>


    PANEL 2


        </div>
        <div class=panel__ id=tabpanel-3 class=tabpanel__ role=tabpanel aria-labeled-by=tab-3 aria-hidden=true>


    PANEL 3



        </div>



    </div>




</section>
<footer class=page__footer>
    footer
</footer>
