
<!-- 
    ///// NAVLIST
    
    .navlist
    :   list wrapper container
    
    .item__     
    :   item container
        &[aria-controls]
        :   matches ID of target panel
        &[aria-selected]
        :   true || false toggle if selected

    /////
-->

<ul class=navlist>
    <li class=item__ aria-controls=panel-building aria-selected=true>Building</li>
    <li class=item__ aria-controls=panel-growth aria-selected=false>Growth</li>
    <li class=item__ aria-controls=panel-amplify aria-selected=false>Amplify</li>
</ul>

