{% extends "payment_info/base.html" %}

{% block scripts %}
{% endblock %}

{% block content %}

<style>
.wrapper {
    padding: 80px 30px;
}
.doc__col {
    width: 350px;
    display: block;
    float: left;
    padding-right: 30px;    
}
.doc__header {
    font-size: 1.2rem;    
    margin-top: 10px;
}
.doc__subheader {
    font-size: 1rem;
    font-weight: normal;
    border-top: solid 1px black;
    padding-top: 10px;
    margin-top: 10px;
}
</style>


<div class="wrapper purchase" style="">

    
{% include "payment_info/_layout.html" %}



</div>






{% endblock %}
