/**
* @file elements/html
* @project strong-css
* @author The strong element
*/

/**
* @section Elements
* Highest-level application settings
*/

/**
* Top-level font and color rules for the application
* Base font-size increases on larger screens
*/
html {
	min-height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
  font-size: $font-size--base;
	@include media(m) {
		font-size: $font-size--desktop;
	}
}


/**
* @section Root Element
* Default styles for root elements
*/
body {
    color: $color__text--default;
    font-family: $font-family--default;
    line-height: $line-height--ratio;
}

/**
* @section Elements
* High-level resets for flow content elements
* Think of this as how you want all the elements to flow on the page compared how the browser manufacturer wants them to flow.
* Not text (that's phrasing content), but margins, padding, borders, yes!
*/

$elements__flow: a, abbr, address, article, aside, audio, b, body, bdi, bdo, big, blockquote, br, button, canvas, cite, code, data, datalist, del, details, dfn, dialog, div, dl, em, embed, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, i, iframe, img, input, ins, kbd, keygen, label, main, map, mark, math, menu, meter, nav, noscript, object, ol, output, p, pre, progress, q, ruby, s, samp, script, section, select, small, span, strong, sub, sup, svg, table, textarea, time, u, ul, var, video, wbr;


/**
* Top-level font and color rules for the application
*/

* {
  box-sizing: inherit;
}

/**
* Top-level positioning rules for the UI
*/
body {
	min-height: 100vh;
	min-width: 100vh;
	position: absolute;
  padding: 0;
	margin: 0;
}
main {
  display: block;
//  background-color: rgba(0,0,0,0.2);
}
p {
	margin-top: 0;
	@extend %font-size--reg;
}
p:last-child, ul:last-child {
	margin-bottom: 0;
}
header, footer {
//    padding: 1.5rem 5vw 1.5rem;
}

/**
* Using .flow__flex will make all the immediate children the same height
* Add .flow__flex--col — or shortcut "col--" to child containers to fill the horizontal space
*/
section {
  @include clearfix;
//  width: 320px;
}
