/**
* @file elements/flow
* @project strong-css
* @author The strong element
*/

/**
* @section Elements
* High-level resets for flow content elements
* Think of this as how you want all the elements to flow on the page compared how the browser manufacturer wants them to flow.
* Not text (that's phrasing content), but margins, padding, borders, yes!
*/

$elements__flow: a, abbr, address, article, aside, audio, b, body, bdi, bdo, big, blockquote, br, button, canvas, cite, code, data, datalist, del, details, dfn, dialog, div, dl, em, embed, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, i, iframe, img, input, ins, kbd, keygen, label, main, map, mark, math, menu, meter, nav, noscript, object, ol, output, p, pre, progress, q, ruby, s, samp, script, section, select, small, span, strong, sub, sup, svg, table, textarea, time, u, ul, var, video, wbr;


/**
* Top-level font and color rules for the application
*/

* {
  box-sizing: inherit;
}

/**
* Top-level positioning rules for the UI
*/
body {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	margin: 0;
}
main {
  display: block;
//  background-color: rgba(0,0,0,0.2);
}
p {
	margin-top: 0;
	@extend %font-size--reg;
}
p:last-child, ul:last-child {
	margin-bottom: 0;
}
header, footer {
//    padding: 1.5rem 5vw 1.5rem;
}

/**
* Using .flow__flex will make all the immediate children the same height
* Add .flow__flex--col — or shortcut "col--" to child containers to fill the horizontal space
*/
%flow__flex {
  min-height: 64px;
  display: flex;
  padding: 0;
  & > .flow__item, & > .item-- {
    flex: 1;
  }
}
.flow__flex {
  @extend %flow__flex;
}
.flow__flex--vertical {
  @extend %flow__flex;
  flex-direction: column;
}
.flow__item--2, .item--2 {
  flex: 2;
}
.flow__item--3, .item--3 {
  flex: 3;
}
.flow__item--4, .item--5 {
  flex: 5;
}
.flow__item--5, .item--5 {
  flex: 5;
}

%span--item {
  display: inline-block;
  margin-right: $padding--base;
  &:last-child {
    margin-right: 0;
  }
}

.flow--3-1 {
  @extend %span--item;
  width: calc((100%/3) - (#{$padding--base}*2/3));
}
.flow--3-2 {
  @extend %span--item;
  width: calc(((100%/3) - (#{$padding--base}*2/3))*2 + #{$padding--base});
}

.flow--4-1 {
  @extend %span--item;
  width: calc((100%/4) - (#{$padding--base}*3/4));
}
.flow--4-2 {
  @extend %span--item;
  width: calc(((100%/3) - (#{$padding--base}*3/4))*2 + #{$padding--base});
}
.flow--4-3 {
  @extend %span--item;
  width: calc(((100%/3) - (#{$padding--base}*3/4))*3 + #{$padding--base});
}
.flow--6-1 {
  @extend %span--item;
  width: calc((100%/6) - (#{$padding--base}*5/6));
}
.flow--6-2 {
  @extend %span--item;
  width: calc(((100%/6) - (#{$padding--base}*5/6))*2 + #{$padding--base});
}
.flow--6-3 {
  @extend %span--item;
  width: calc(((100%/6) - (#{$padding--base}*5/6))*3 + #{$padding--base}*2);
}
.flow--6-4 {
  @extend %span--item;
  width: calc(((100%/6) - (#{$padding--base}*5/6))*4 + #{$padding--base}*3);
}
.flow--6-5 {
  @extend %span--item;
  width: calc(((100%/6) - (#{$padding--base}*5/6))*5 + #{$padding--base}*4);
}



// flow helpers
.flow__clear {
  overflow: auto;
}
.flow__block {
  display: block;
}
.flow__inline {
  display: inline;
}
