
h1, .font__size--xl, .xl-- {
	@extend %font__size--xl;
}
h2, .font__size--l, .l-- {
	@extend %font__size--l;
}
h3, .font__size--m, .m-- {
	@extend %font__size--m;
}
h4 {
	@extend %font__size--reg;
}
h5 {
	@extend %font__size--s;
}
h6 {
	@extend %font__size--xs;
}

small {
	font-size: $font-size--xs;
	background: lightgray;
}
h1, h2, h3 {
	small {
		display: block;
	}
}

#{$elements__headers} {
	@extend %font__size--reg;
}
