
h1, .font-size--xl, .xl-- {
	@extend %font-size--xl;
}
h2, .font-size--l, .l-- {
	@extend %font-size--l;
}
h3, .font-size--m, .m-- {
	@extend %font-size--m;
}
h4 {
	@extend %font-size--reg;
}
h5 {
	@extend %font-size--s;
}
h6 {
	@extend %font-size--xs;
}

small {
	font-size: $font-size--xs;
	background: lightgray;
}
h1, h2, h3 {
	small {
		display: block;
	}
}

#{$elements__headers} {
	@extend %font-size--reg;
}



/**
* @section Header Elements
* Default styles for header elements
*/
h1,h2,h3,h4,h5,h6 {
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: $margin-bottom--default;
}
