/**
* @file _lists.scss
* @project strong-css
* @author The strong element
*/

/**
* @section List elements
* Set base styles for list elements
*/
nav {
    ul {
        padding-left: 0;
        display: flex;
    }
    li {
        flex: 1;
        background-color: lightgray;
        margin-left: 1px;
        display: inline-block;
        transition: flex 0.15s ease-in;
        &:first-child {
            margin-left: 0;
        }
        & > a {
            display: block;
            padding: 1em;
        }
        &[aria-selected=true] {
            background: pink;
            flex: 1.2;
        }
        &:hover {
            flex: 1.2;
        }
    }
}


/**
* Top-level font and color rules for the application
* Base font-size increases on larger screens
*/


