/**
* @file elements/sections
* @project strong-css
* @author The strong element
*/

/**
* @section Block elements
* Set base styles for block-level elements, incl. view-level elements.
*/
$elements__sections: article, aside, nav, section;
$elements__sections--roots: aside, nav, section, blockquote, body, fieldset, figure, td;
$elements__sections--app: header, footer, main;

#{$elements__sections} {
  //margin: 0 auto;
  //min-width: 664px;
  //background: white;
	& > div {
		//padding: $width--ui-padding;
    max-width: 1440px;
	}
}
header, footer {
    //padding: $width--ui-padding;
}
article {
  & > section {
//    border-top: solid 16px white;
  }
}
.section--no-side-padding {
	& > div {
	  padding-left: 0;
	  padding-right: 0;
	}
}

section {
  @include clearfix;
}
