/**
* @file elements/sections
* @project strong-css
* @author The strong element
*/

/**
* @section Block elements
* Set base styles for block-level elements, incl. view-level elements.
*/
$elements__sections: article aside nav section;
$elements__sections--roots: blockquote body fieldset figure td;
$elements__sections--app: header footer main;

article, section {
	width: 100vw;
	& > div {
		padding: 1.5rem 5vw 2.5rem;
	}
}
header, footer {
    padding: 1.5rem 5vw 1.5rem;
}
